* {
  padding: 0px;
  margin: 0px;
}

:root {
  --periwinkle: #beb8ebff;
  --celestial-blue: #5299d3ff;
  --midnight-green: #0b5563ff;
  --powder-blue: #a2bce0ff;
  --davys-gray: #5e5c6cff;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  font-size: 1.6rem;
}

.content {
  display: grid;
  grid-auto-rows: auto 1fr;
  max-width: 80rem;
  margin: auto;
}

.title {
  font-size: 4rem;
  text-align: center;
  background-color: var(--periwinkle);
  color: var(--midnight-green);
  border-radius: 2rem 2rem 0 0;
}

.library {
  background-color: var(--powder-blue);
  color: var(--davys-gray);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 2rem;
  border-radius: 0 0 2rem 2rem;
}

.card {
  background-color: var(--midnight-green);
  color: var(--periwinkle);
  padding: 2rem;
  border-radius: 2rem;
}

.card p {
  padding: 1rem 0;
}

#newBookForm {
  /* Hidden by default */
  display: none;
  grid-template-columns: 6rem 30rem;
  grid-template-rows: repeat(5, 3rem);
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

#newBookForm label {
  align-self: center;
}

.submitFormButton {
  grid-column-start: span 2;
  border-radius: 2rem;
}

.addBook {
  background-color: black;
  color: lightgreen;
  border: 0px;
  font-size: 10rem;
  border-radius: 2rem;
}

input {
  border-radius: 2rem;
  padding: 0 1rem;
}

.card button {
  background-color: white;
  border: 0px;
  border-radius: 2rem;
  text-align: center;
  width: 9rem;
  height: 2.5rem;
}

.card .buttonContainer {
  grid-template-columns: 1fr 1fr;
}
